@using MINEM.MIGI.Web.Models
@model ExcelViewModel

@section scripts_footer {
    <script src="@Url.Content("~/Scripts/plugins/alert.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/migi_excel_m8u.js")"></script>
}

<div class="container margin-top-excel">
    @using (Html.BeginForm("LeerExcelM8U", "Excel", FormMethod.Post, new { id = "form-excel", enctype = "multipart/form-data", role = "form", @class = "text-left" }))
    {
        @Html.AntiForgeryToken()
        <div class="row mt-5">
            <div class="col-3">
                <div class="form-group align-left">
                    @Html.LabelFor(m => m.excel)
                    @Html.TextBoxFor(m => m.excel, new { type = "file", @class = "form-control form-control-sm mb-2" })
                </div>
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
                <div class="form-group align-left">
                    <label>Cargar excel</label>
                    <input type="button" id="btnExcel" class="w-100 btn btn-lg btn-primary btn-sm" value="Procesar">
                </div>
            </div>
        </div>
            <div class="row mt-3">
                <div class="col-12 alert-add"></div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-12">
                    <span id="preload"></span>
                </div>
            </div>
    }
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="h5">Resultados&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Tabla con los resultados almacenados"></i></div>
                <div class="table-responsive tabla-principal">
                    <table class="table table-hover" id="tbl">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th scope="col" width="3%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">N°&nbsp;</div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Número de orden"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="22%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">CÓDIGO&nbsp;</div><i class="fas fa-sort columna-filtro" id="ID_EXCEL"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Código del excel"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="42%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">EXCEL&nbsp;</div><i class="fas fa-sort columna-filtro" id="NOMBRE"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Nombre del excel"></i></div>
                                    </div>
                                </th>
                                @*<th scope="col" width="17%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">AÑO&nbsp;</div><i class="fas fa-sort columna-filtro" id="ANIO"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Año"></i></div>
                                    </div>
                                </th>
                                <th scope="col" width="17%">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="pl-1 text-center w-100">MES&nbsp;</div><i class="fas fa-sort columna-filtro" id="MES"></i>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Mes"></i></div>
                                    </div>
                                </th>*@
                                @*<th scope="col" width="8%">
                                        <div class="d-flex flex-column justify-content-between align-items-center">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="pl-1 text-center w-100">GESTIÓN&nbsp;</div>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center"><i class="fas fa-info-circle mr-1" data-toggle="tooltip" data-placement="bottom" title="Herramientas y opciones"></i></div>
                                        </div>
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td class="text-left" colspan="2"><strong>Resultado:&nbsp;</strong><span class="inicio-registros">1</span><span id="view-page-result">-<span class="fin-registros">1</span> de <span class="total-registros">1</span> registros</span></td>
                                <td class="text-right text-xs-left" colspan="5">
                                    <strong>Registros por página&nbsp;</strong>
                                    <select id="catidad-rgistros" onchange="cargarExcel()">
                                        <option value="10" selected>10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>&nbsp;
                                    <span class="pagina">1</span> de <span class="total-paginas">75</span> páginas&nbsp;
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(1)"><i class="fas fa-angle-double-left"></i></button>
                                        <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(2)"><i class="fas fa-angle-left"></i></button>
                                        <input id="ir-pagina" class="ir-pagina" type="number" value="1" min="1">
                                        <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(3)"><i class="fas fa-angle-right"></i></button>
                                        <button class="btn btn-sm btn-primary" type="button" onclick="fn_avance_grilla(4)"><i class="fas fa-angle-double-right"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("columna", "ID_EXCEL")
@Html.Hidden("orden", "DESC")
